body{
    background-color: black;
}
.wrapper{
    width: 1102px;
    margin: 0 auto;
    position: relative;
}
.background-peview{    
    background-image: url('img/background-image.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.texture-peview::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('img/background-texture.png');
}
.container{
    position: relative;
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    height: 100vh;
    color:#ffffff;
}
.banner__header{
    display: inline-flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.logo-block{
    align-items: center;
    padding-top: 12px;
    margin-right: 69px;
}
.sidebar{
    flex:1;
    display: flex;
    align-items: center;
}
.sidebar__item{
    display: inline-flex;
}
.header__banner__button{
    width: 97px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #e45028;
    color: inherit;
}
.preview-burger{
    display: inline-flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}