.best{
    padding-top: 9.642rem;
    background-image: url('./img/bg-best.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablets{
        background-image: url('./img/bg-best-tablets.png');
    }
    @include phones{
        background-image: url('./img/bg-best-phones.png');
    }
}
.best__desc h5{
    font-size: 1.714rem;
    font-family: 'Lifehack';
    font-weight: 500;
    color: #2f3234;
    margin-bottom: 1.714rem;
}
.best 
    {
    .title{
        margin-bottom: 3.92rem;
    }
}
.best__list{
    display: flex;
    // margin-bottom: 11.071rem;
    @include phones{
        flex-direction: column;
        margin-bottom: 0;
    }
}
.best__item{
    width: calc(100%/3);
    padding: 0 1.071rem;
    // flex:1;
    // margin-right: 2.5rem;
    text-align: center;
    // &:last-child{
    //     margin-right: 0;
    // }
    margin-bottom: 3.571rem;
    @include phones{
        display: flex;
        flex-direction: row;
        width:100%;
        margin-bottom: 11.071rem;
    }
}
.best__picture{
    // width: 90%;
    margin-bottom: 2.428rem;
    @include phones{
        margin-bottom: 0;
        margin-right: 1.428rem;
    }
}
.best__desc p{
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 300;
    color: rgba(47, 50, 52, 0.8);
}
.best__desc{
    @include phones{
        text-align: left;
    }
}
