.best{
    padding-top: 9.642rem;
    background-image: url('./img/bg-best.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.best__desc h5{
    font-size: 24px;
    font-family: 'Lifehack';
    font-weight: 500;
    color: #2f3234;
    margin-bottom: 1.375em;
}
.best 
    {
    .title{
        margin-bottom: 3.92rem;
    }
}
.best__list{
    display: flex;
    margin-bottom: 155px;
}
.best__item{
    width: calc(100%/3);
    // flex:1;
    // margin-right: 2.5rem;
    text-align: center;
    // &:last-child{
    //     margin-right: 0;
    // }
}
.best__picture{
    margin-bottom: 2.428rem;
}
.best__desc p{
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    color: rgba(47, 50, 52, 0.8);
}
