.btn{
    padding: 1.071rem 0.857rem;
    border-radius: 0.357rem;
    background-color: #e35028;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.928rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}