.fixed-menu{
    position: fixed;
    top: 6.785rem;
    right: 3.785rem;
    z-index: 100;
    @include tablets {
        display: none;
    }
}
.fixed-menu__item{
    &:hover{
       .fixed-menu__dot{
            border-color: white;
        } 
    }
    // &--active{
    //     .fixed-menu__dot{
    //         border-color: white;
    //         }
    //     }
    }
.fixed-menu__item{
    margin-bottom: 0.357rem;
    &:last-child{
        margin-bottom: 0;
    }
}
.fixed-menu__dot{
    position: relative;
    width: 1.142rem;
    height: 1.142rem;
    border-radius: 50%;
    border: 0.0714rem solid transparent;
    transition: 0.3s;

    &:before{
        content:"";
        position: absolute;
        width: 0.428rem;
        height: 0.428rem;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }   
}