.footer{
    position: absolute;
    left: 0;
	bottom: 0;
    min-height: 4.2857rem;
    background-color: #2f3234;
    background-image: url('./img/bg-footer.png');
    background-size: cover;
    background-position: center 94%;
    font-family: 'Ubuntu';
    font-weight: 300;
    display: flex;
    align-items: center;
}
.footer>.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addres{
    width: 50%;
}
.social-icon{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.social-icon__list{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.information__number-phone{
    font-family: 'Ubuntu';
    font-weight: bold;
    color:#e45028;
    &::before{
        content: "";
        display: inline-flex;
        width: 0.785rem;
        height: 0.785rem;
        background-image: url('./img/icons/phone.svg');
        margin-right: 0.428rem;
    }
}
.social-icon__item{
    width: 1.428rem;
    height: 1.428rem;
    margin-right: 1.428rem;
    &:last-child{
        margin-right: 0;
    }
}
.social-icon__link{
    transition: 0.3s;
    fill:#2f3234;
    &:hover{
        fill:#fff;
    }
}