.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    font-family: "Ubuntu";
    font-size: 13px;
    font-weight: 500;
    width: 100%;
}
.header__buttons{
    display: flex;
    align-items: center;
}