.nav{
    margin-right: 1.071rem;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item{
    display: flex;
    align-items: center;
    margin-right: 1.071rem;
    &::after{
    content: "";
    width: 0.2857rem;
    height: 0.307em;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    margin-left: 1.071rem;
    }
    &:last-child{
        margin-right: 0;
        &::after{
            display: none;
        }
    }
}
.nav__link{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}