.order{
    min-height: 100vh;
    background-image: url('./img/bg-order.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.order{
    .title{
        padding-top: 1.916em;
        margin-bottom: 0.611em;
    }
}
.form__elem{
    display: flex;
    margin-bottom: 10.357rem;  
}
.form__col{
    flex:1;
    .form__block{
        flex:1;
    }
}
.form__col-1{
    margin-right: 1.428rem;
    .form__block{
        input{
            text-align: center;
            width: 100%;
        }
    }
}
.form__col-2{
    .form__block{
        display: flex;
    }
}
.form__row{
    display: flex;
}

.form__block{
    margin-right: 1.428rem;
    margin-bottom: 1.357rem;
    flex-direction: column;
    input, textarea{
        font-family: 'Ubuntu';
        font-weight: 300;
        color:#2f3234;;
        background-color: #ffffff;
        padding: 0.857rem 1.5rem;
        border-radius: 0.357rem;
        border: solid 0.142rem #d1cfcb;
        &:focus{
            border-radius: 0.357rem;
            border: solid 0.142rem #f9b43b;
            border-bottom: 0.142rem solid transparent;
        }
    }
}
.form__block__title{
    font-family: 'Ubuntu';
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.form__row__textarea{
    textarea{
        height: 9.571rem;
        resize: none;
    }
}
.form__row__radio{
    input[type="radio"]{
        display: none;
    }
    margin-bottom: 1.214rem;
}
.form__row__check{
    input[type="checkbox"]{
        display: none;
    }
}
.form__block__radio-custom::before{
    vertical-align: middle;
    display: inline-flex;
    content: "";
    width: 1.071rem;
    height: 1.071rem;
    background:#ffffff;
    border-radius: 50%;
    margin-right: 0.642rem;
}
.form__block--radio:checked + .form__block__radio-custom::before{
    justify-content: center;
    align-items: center; 
    content: "•";
    color: #e35028;
    font-size: 29px;
    border-radius: 50%;
    width: 0.517em;
    height: 0.517em;
}
.form__block__checkbox-custom::before{
    vertical-align: middle;
    display: inline-flex;
    content: "";
    width: 1.071rem;
    height: 1.071rem;
    background:#ffffff;
    margin-right: 0.642rem;
}
.form__block--checkbox:checked + .form__block__checkbox-custom::before{
    justify-content: center;
    align-items: center; 
    content: "✔";
    color: #e35028;
    font-weight: 900;
    width: 1.071rem;
    height: 1.071rem;
}
.form__row__radio, .form__row__check{
    .form__block{
        flex-direction: row;
        align-items: center;
    }
}
.form__row__radio, .form__row__check{
    input{
        margin-right: 1.071rem;
    }
    .form__block__title{
        margin-bottom: 0;
    }
}
.form__row__btn{
    button{
        padding: 0.857rem 1.071rem;
        color: #fff;
        font-family: 'Ubuntu';
        font-weight: 300;
        border-radius: 0.357rem;
        &:first-child{
            margin-right: 0.357rem;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #e45028;
        }
    }
}