.reviews__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.reviews__item{
    position: relative;
    width: 25%;
    height: 50%;
    @include tablets{
        width: 50%;
        height: 25%;
    }
}
.reviews__background{
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: grayscale(100%);
}
.reviews__block {
    position: relative;
    width: 100%;
    height: 100%;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: .3s;
    }
    &:hover {
        .reviews__hover{
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
        &:after {
          background: rgba(#141414, .7);
        }
      }
    
}
.reviews__hover{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(.7);
    opacity: 0;
    padding: 17% 12%;
    transition: .3s;
    z-index: 20;
    @include tablets {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    @include phones{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.reviews__title{
    font-family: 'Gagalin';
    font-weight: 400;
    margin-bottom: 2.142rem;
    @include tablets{
        margin-bottom: 1.428rem;
    }
    @include phones{
        font-size: 1.714rem;
    }
}
.reviews__text{
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2.142rem;
    @include phones{
        display: none;
    }
}
.review__button__link{
        background-color: gray;
        text-decoration: none;
        text-transform: uppercase;
        &::after{
            content: "Подробнее";
        }
        @include phones{
            &::after{
                content: "Читать отзыв";
            }
        }
}