.scroll-down-btn{
    width: 2.071rem;
    height: 1rem;
    background-image: url("./img/icons/arrow-scroll.svg");
    position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 2.857rem;
    left: 50%;
    transform: translateX(-50%);
}