.section{
    height: 100vh;
    min-height: 46.428rem;
    position: relative;
    display: flex;
    overflow: hidden;
    &--non-centered{
        display: flex;
        justify-content: flex-start;
    }
}