.title{
    font-size: 5.142rem;
    color:#f9b43b;
    font-family: 'Gagalin';
    font-weight: 400;
    line-height: 1;
        &--black{
            color: #2f3234;
        }
        &--white{
            color: #fff;
        }
        &--centered{
        text-align: center;
    }
}
